<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Best Doracakes">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Abhishek Rahul">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.jpeg">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

  <title>LoginPage</title>

  <link rel="stylesheet" href="style.css">

</head>

<body>


  <div class="row">


    <div class="col-sm-0 col-md-4" id="hide"
      style=" color:white; margin-top: auto 0;opacity: 0.8;  background-color: black;height: 100vh; ">

      <div style="margin-top: 36%;">

        <a href="login.html" style="color: whitesmoke;"> <i class="fa fa-home fixed-top"
            style="font-size: 2em; margin:10px;"></i></a>
        <h3 class="text-center" style="color: aqua;">Welcome...</h3>
        <p class="text-center" style="margin-top: 5%; margin-bottom: 7%;">Already have an account?<br></p>
        <div class="text-center">
          <button type="button" class="login_button">Sign In</button>
        </div>
      </div>
    </div>

    <div class="col-sm-12  col-md-8" style="background-color: rgb(14, 248, 248);">
      <h3 class="text-center" style="color:black;opacity: 0.8;">Registration for Customers</h3>
      <div id="main">

        <div class="icon text-center">
          <i class="fa fa-facebook logo" style=" padding-top: 11px; color: orangered;"></i>
          <i class="fa fa-linkedin logo" style=" padding-top: 8px; color: white;"></i>
          <i class="fa fa-google-plus logo" style=" padding-top: 10px; color: green;"></i>
        </div>
        <div class="text-center" style="font-weight: bold;">OR</div>

        <div class="form-group" style="margin-top: 4%;">
          <label class="sr-only" for="inlineFormInputGroup">Full Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter Your Full Name">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername"
              placeholder="Enter/Select your Username">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inlineFormInputGroup">Email</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="E-mail">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inlineFormInputGrouppass">Password</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGrouppass" placeholder="Enter a Password">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inlineFormInputGroup">Mobile Number</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Your Mobile Number">
          </div>
        </div>

        <div class="text-center">
          <button type="button" class="signup_button">Sign Up</button>
        </div>
      </div>
    </div>

  </div>

</body>

</html>