<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="description" content="Best Doracakes">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="Ayyan Sikandar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.jpeg">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

  <title>Sign In Page</title>

  <link rel="stylesheet" href="style.css">

</head>

<body>

  <div style="height: 40rem; background-color: rgb(14, 248, 190);">
    <div class="signin_title">
      <h3>Hey! Welcome</h3>
    </div>
      <div id="main" class="signin_block">
      <p id="option" style="margin:3rem;margin-top: 0rem; margin-bottom: 1rem;">Enter Email or Mobile Number </p>
      <div class="form-group" style="margin: 3rem; margin-top: 1rem; margin-bottom: 1rem;">

        <div class="input-group" style=>
          <div class="input-group-prepend">

            <div class="input-group-text"><i class="fa fa-envelope"></i></div>

          </div>
          <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Mobile Number">
        </div>
      </div>
      <div class="text-center" style="font-weight: bold;">OR</div>
      <div class="form-group" style="margin: 3rem; margin-top: 1rem;">
        <label class="sr-only" for="inlineFormInputGroupUsername">Email</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">@</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email">
        </div>
      </div>
      <div class="form-group" style="margin: 3rem;">
        <label class="sr-only" for="inlineFormInputGroupUsername">Pass</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-lock" style="font-size:1.2em;"></i></i></div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGrouppass" placeholder="Password">
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="signin_button strong">Sign In</button>
      </div>
      <div style="font-weight: bold; margin:1rem 6rem; height: 2rem; text-align: right;"><a href="#"
          target="_blank">forgot Password??</a></div>
    </div>

  </div>

</body>

</html>