    body{
        padding: 0!important;
        margin: 0!important;

      }
      .logo
      {
        font-size: 1.3em;
         box-shadow: 0 0 3px rgba(0,0,0,0.4);
         border-radius: 50%;
        width: 1.9em;
        height: 1.9em;
        text-align: center;
        margin: 2%;
        border-color: black;


      }
      .logo:hover{

                 box-shadow: 0 0 8px rgba(0,0,0,0.4);

      }

      .signin_block:hover{
        padding: 1rem;
        background-color: black;
        color:whitesmoke;
      }

      .reg_block:hover{
        padding: 3px;
        background-color: black;
        color: rgb(241, 241, 243);
      }


      h1{
          font-family: 'Ubuntu', sans-serif;
          font-weight: 200%;
      }

      #option{
        font-weight: bold;
        margin-top: 4%;
        margin-bottom:2%;
        text-align: center;
        opacity: 0.6;
      }
    .login
    {
      margin-right: 6%;
      margin-left: 6%;
    }
    button.login_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: white;
    border: none;
    color: black;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }
    button.signin_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: rgb(201, 91, 91);
    border: none;
    color: black;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }

    button.signup_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: rgb(72, 27, 233);
    border: none;
    color: white;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }
    .bs-popover-bottom {
      top: 5px !important;
      left: -20px !important;
    }

    .popover-body {
      background: black;
      color: white;
      font-size: 20px;
      text-align: center;
      width: 127%;
      font-weight: 200;
    }

    .arrow {
      left: 160px !important;
    }

    button.login_button:hover {
        background-color: aqua;
      }
    button.signup_button:hover {
        background-color:black;
      }
    button.signin_button:hover {
        background-color:black;
        color: aqua;
      }


    #main{
      width:35rem; height: 35rem;
       margin: auto auto;margin-top: 35px;
    }

    #title_block{
      width:12rem; margin: 0 auto;margin-top: 25px;
      background-color: rgb(17, 20, 187);
      color:white;
      text-align: center;
    }

    #title_block:hover{
      background-color:rgb(21, 162, 228);
    }

    .signin_title{
      width:15rem; margin-left: 35rem;
      background-color: cyan;
      color:black;
      text-align: center;
    }
    .signin_title:hover{
      background-color:black;
      color: cyan;
    }

    .required{
      color: red;
      font-weight: bolder;
    }
   
    .strong{
      font-weight: bold;
    }