    body{
        padding: 0!important;
        margin: 0!important;

      }
      .logo
      {
        font-size: 1.3em;
         box-shadow: 0 0 3px rgba(0,0,0,0.4);
         border-radius: 50%;
        width: 1.9em;
        height: 1.9em;
        text-align: center;
        margin: 2%;
        border-color: black;


      }
      .logo:hover{

                 box-shadow: 0 0 8px rgba(0,0,0,0.4);

      }
     

      h1{
          font-family: 'Ubuntu', sans-serif;
          font-weight: 200%;
      }

      #option{
        font-weight: bold;
        margin-top: 4%;
        margin-bottom:2%;
        text-align: center;
        opacity: 0.8;
      }
    .login
    {
      margin-right: 6%;
      margin-left: 6%;
    }
    button.login_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: white;
    border: none;
    color: black;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }
    button.signin_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: white;
    border: none;
    color: black;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }

    button.signup_button
    {
    padding: .4rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: rgb(72, 27, 233);
    border: none;
    color: white;
    border-radius: .5rem;
    outline: none;
    transition: all 0.2s;
    }
    .bs-popover-bottom {
      top: 5px !important;
      left: -20px !important;
    }

    .popover-body {
      background: black;
      color: white;
      font-size: 20px;
      text-align: center;
      width: 127%;
      font-weight: 200;
    }

    .arrow {
      left: 160px !important;
    }

    button.login_button:hover {
        background-color: aqua;
      }
    button.signup_button:hover {
        background-color:black;
      }
    #main{
      width:55%; margin: 0 auto;margin-top: 10%;
    }
